/* COMMON STYLES
_______________________________________________________ */

img {
    display: block;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

:root {
    --white: #FFFFFF;
    --blue: #4d5ae5;
    --gray: #2e2f42; 
    --pretty: #f4f4fd;
    --specific: #8e8f99;
    --good: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--white);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
}

/* _____________________________________________________
COMMON STYLES */

/* ____________HEADER MOBILE STYLES______________________ */

.menu-header {
    display: none;
}

.contacts-list {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 21px;
    padding-bottom: 21px;
}

.logo-header {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

 

@media  screen and (max-width: 767px) {
    .mobile-btn-burger {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }
    
    .mobile-menu-container {
        position: relative;
    }
    
    .mobile-menu.is-open {
        transform: translateX(0%);
    }
    
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: transform 250ms linear;
    }
    
    .moblie-menu-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        stroke: #111111;
    }
}

/* ===================HEDER MOBILE=============== */


/* ______________________________________________________ */
@media screen and (min-width: 480px) {
    .container {
        width: 367px;
        margin-right: auto;
        margin-left: auto;
    }


    .mobile-menu {
        display: none;
    }

}

/* ===================HEDER MOBILE=============== */

@media screen and (min-width: 768px) {
    .container {
        width: 736px;
    }

    .menu-header {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }    
    
    .nav-item {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
    }
    
    .mobile-btn-burger {
        display: none;
    }
    
    .contacts-list {
        display: block;

    }

    .general-contact {
        position: relative;
        color: #434455; 
        gap: 12px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.04em;
    }
}

@media screen and (min-width: 1168px) {
    .container {
        width: 1168px;
    }
}

