/* COMMON STYLES
_______________________________________________________ */

img {
    display: block;
}


*, ::after, ::before {
    box-sizing: border-box;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

:root {
    --white: #FFFFFF;
    --blue: #4d5ae5;
    --gray: #2e2f42; 
    --pretty: #f4f4fd;
    --specific: #8e8f99;
    --good: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-size: 16px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #111111;
}

/* _____________________________________________________
COMMON STYLES */

.menu-header {
    display: none;
}

.contacts-list {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding-top: 21px;
    padding-bottom: 21px;
}

.logo-header {
    font-size: 18px;
    font-weight: 700;
    line-height: 0.86;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    padding: 17px;
    font-family: "Raleway", sans-serif;
    margin-right: 76px;
}

.logo-header-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 0.86;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.button-order-service:hover,
.button-order-service-focus {
    color: #404BBF;
}

.general-contact:hover {
    color: #404bbf;
}

.general-contact:focus {
    color: #404bbf;
}

.nav-item:hover {
    color: #404bbf;
}

.nav-item:focus {
    color: #404bbf;
}
 

@media  screen and (max-width: 767px) {
    
    /* =======HEADER MOBILE======== */
    
    .mobile-btn-burger {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;    
    }
    
    .mobile-burger-icon {
        stroke: #2F2F37;
    }

    .mobile-menu-container {
        position: relative;
    }
    
    .mobile-menu.is-open {
        transform: translateX(0%);
    }
    
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: transform 250ms linear;
    }
    
    .moblie-menu-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        stroke: #111111;
    }

    /* =======HEADER MOBILE======== */
    
    
    /* =======FIRST SECTION MOBILE======== */

    .first-section {
        background-color: #2e2f42;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.png);
        max-width: 768px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .main-headline {
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        color: #ffffff;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;
    }

    .button-order-service {
        cursor: pointer;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        min-width: 169px;
        border: none;
        height: 56px;
        border-radius: 4px;
        margin: auto;
        display: block;
        transition
    }

    /* =======SECOND SECTION MOBILE======== */

    .second-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .display {
       display: flex; 
    }

    .second-section-list {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        gap: 72px;
        list-style: none;
    }

    .div-for-icon {
        display: none;
    }

    .quality {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        text-align: center;
    }

    .quality-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

    /* =======SECOND SECTION MOBILE======== */


}


@media screen and (min-width: 480px) {
    
    /* /=======MAIN======== */
    
    .container {
        width: 367px;
        margin-right: auto;
        margin-left: auto;
    }


    .mobile-menu {
        display: none;
    }

    /* /=======MAIN ======== */
}


@media screen and (min-width: 768px) {
    
    /* /=======HEADER TABLET ======== */

    .container {
        width: 736px;
    }

    .menu-header {
        display: flex;
        gap: 40px;
        margin-right: 0;    
    }    
    
    .nav-item {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-right: auto;
        margin-left: auto;
    }
    
    .mobile-btn-burger {
        display: none;
    }
    
    .contacts-list {
        display: block;

    }

    .general-contact {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    /* /=======HEADER TABLET ======== */

    /* /=======FIRST SECTION TABLET ======== */
    
    .first-section {
        background-color: #2e2f42;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.png);
        max-width: 768px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }

    .main-headline {
        font-family: "Roboto", sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        color: #ffffff;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 36px;
    }

    .button-order-service {
        cursor: pointer;
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        min-width: 169px;
        border: none;
        height: 56px;
        border-radius: 4px;
        margin: auto;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* /=======FIRST SECTION TABLET ======== */

    /* =======SECOND SECTION TABLET======== */
    
    .display {
        display: flex;
    }

    .second-section-list {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
    }

    .second-section-item {
        width: calc((100% - 72px) / 2);
    }

    .quality {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }
    

    .quality-text {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
    }


    .div-for-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    
    /* =======SECOND SECTION TABLET======== */
}

@media screen and (min-width: 1168px) {
    .container {
        width: 1168px;
    }

    /* =======HEADER DESKTOP======== */

    .nav-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        padding: 24px 0;
        display: inline-block;
        position: relative;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .main-contacts {
        font-style: normal;
        list-style: none;
        margin-left: auto;
    }
    
    .general-contact {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    

    /* =======HEADER DESKTOP======== */

    
    /* =======FIRST SECTION DESKTOP======== */

    .first-section {
        background-color: #2e2f42;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\ 1.png);
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
    }
    
    .main-headline {
        margin: 0;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color:#ffffff;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .button-order-service {
        background-color: #4D5AE5;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* =======FIRST SECTION DESKTOP======== */


    /* =======SECOND SECTION DESKTOP======== */

    .second-section {
        padding: 120px 0;
    }
    
    .quality {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .qulity-text {
        margin: 0;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-size: 16px;
    }

    .second-section-list {
        display: flex;
        gap: 24px;
    }

    .second-section-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .div-second-section-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .div-for-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    

    /* =======SECOND SECTION DESKTOP======== */
}
